TokenAssistant/Service References/DataService/AzureAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AzureAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TokenAssistant.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AzureAppService_AddApp_InputMessage">
    <wsdl:part name="parameters" element="tns:AddApp" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_AddApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppResponse" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_DeleteApp_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApp" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_DeleteApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppResponse" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_GetAllApps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApps" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_GetAllApps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppsResponse" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_GetApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApp" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_GetApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppResponse" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_SaveApp_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveApp" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_SaveApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAppResponse" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="AzureAppService_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="AzureAppService">
    <wsdl:operation name="AddApp">
      <wsdl:input wsaw:Action="http://tempuri.org/AzureAppService/AddApp" message="tns:AzureAppService_AddApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AzureAppService/AddAppResponse" message="tns:AzureAppService_AddApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApp">
      <wsdl:input wsaw:Action="http://tempuri.org/AzureAppService/DeleteApp" message="tns:AzureAppService_DeleteApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AzureAppService/DeleteAppResponse" message="tns:AzureAppService_DeleteApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApps">
      <wsdl:input wsaw:Action="http://tempuri.org/AzureAppService/GetAllApps" message="tns:AzureAppService_GetAllApps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AzureAppService/GetAllAppsResponse" message="tns:AzureAppService_GetAllApps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApp">
      <wsdl:input wsaw:Action="http://tempuri.org/AzureAppService/GetApp" message="tns:AzureAppService_GetApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AzureAppService/GetAppResponse" message="tns:AzureAppService_GetApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveApp">
      <wsdl:input wsaw:Action="http://tempuri.org/AzureAppService/SaveApp" message="tns:AzureAppService_SaveApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AzureAppService/SaveAppResponse" message="tns:AzureAppService_SaveApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/AzureAppService/SaveChanges" message="tns:AzureAppService_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AzureAppService/SaveChangesResponse" message="tns:AzureAppService_SaveChanges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AzureAppService" type="tns:AzureAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddApp">
      <soap:operation soapAction="http://tempuri.org/AzureAppService/AddApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApp">
      <soap:operation soapAction="http://tempuri.org/AzureAppService/DeleteApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApps">
      <soap:operation soapAction="http://tempuri.org/AzureAppService/GetAllApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApp">
      <soap:operation soapAction="http://tempuri.org/AzureAppService/GetApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveApp">
      <soap:operation soapAction="http://tempuri.org/AzureAppService/SaveApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <soap:operation soapAction="http://tempuri.org/AzureAppService/SaveChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AzureAppService">
    <wsdl:port name="BasicHttpBinding_AzureAppService" binding="tns:BasicHttpBinding_AzureAppService">
      <soap:address location="http://localhost:8090/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>