TokenAssistant/Service References/DataService/AzureAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TokenAssistantService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TokenAssistant.Data.DataLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TokenAssistantService_AddApp_InputMessage">
    <wsdl:part name="parameters" element="tns:AddApp" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_AddApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_DeleteApp_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApp" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_DeleteApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetAllApps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllApps" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetAllApps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppsResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_SaveApp_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveApp" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_SaveApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAppResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApp" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="TokenAssistantService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="TokenAssistantService">
    <wsdl:operation name="AddApp">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/AddApp" message="tns:TokenAssistantService_AddApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/AddAppResponse" message="tns:TokenAssistantService_AddApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApp">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/DeleteApp" message="tns:TokenAssistantService_DeleteApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/DeleteAppResponse" message="tns:TokenAssistantService_DeleteApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllApps">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/GetAllApps" message="tns:TokenAssistantService_GetAllApps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/GetAllAppsResponse" message="tns:TokenAssistantService_GetAllApps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveApp">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/SaveApp" message="tns:TokenAssistantService_SaveApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/SaveAppResponse" message="tns:TokenAssistantService_SaveApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/SaveChanges" message="tns:TokenAssistantService_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/SaveChangesResponse" message="tns:TokenAssistantService_SaveChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApp">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/GetApp" message="tns:TokenAssistantService_GetApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/GetAppResponse" message="tns:TokenAssistantService_GetApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/AddUser" message="tns:TokenAssistantService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/AddUserResponse" message="tns:TokenAssistantService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/DeleteUser" message="tns:TokenAssistantService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/DeleteUserResponse" message="tns:TokenAssistantService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/GetAllUsers" message="tns:TokenAssistantService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/GetAllUsersResponse" message="tns:TokenAssistantService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/TokenAssistantService/GetUser" message="tns:TokenAssistantService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TokenAssistantService/GetUserResponse" message="tns:TokenAssistantService_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TokenAssistantService" type="tns:TokenAssistantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddApp">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/AddApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApp">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/DeleteApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllApps">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/GetAllApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveApp">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/SaveApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/SaveChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApp">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/GetApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/TokenAssistantService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenAssistantService">
    <wsdl:port name="BasicHttpBinding_TokenAssistantService" binding="tns:BasicHttpBinding_TokenAssistantService">
      <soap:address location="http://localhost:8090/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>